*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}

.saida{
    animation: saida 0.8s ease;
    z-index: 2;
}

.entrada{
    animation: entrada 0.7s ease;
    z-index: 2;
}


.like{
    animation: like 0.7s ease;
}
@keyframes saida {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(200%);
    }
}

@keyframes entrada {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes like{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }

}