
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600&display=swap');

/* variaveis para cores */
:root{
    --preto: #000;
    --cinza: #BDBDBD;
    --cinza-escuro: #4F4F4F;
    --cinza-claro: #828282;

    --vermelho: #EB5757;
    --laranja: #F2994A;
    --amarelo: #F2C94C;
    --violeta: #BB6BD9;
    --roxo: #9B51E0;


    --verde: #27AE60;
    --verde-escuro: #219653;
    --verde-claro: #6FCF97;

    --azul: #2D9CDB;
    --azul-escuro: #2F80ED;
    --azul-claro: #56CCF2;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Varta';
}
.navbar{
    max-width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background-color: #BB6BD9;
}
.logo{
    display: flex;
    align-items: center;
    width: 20%;
}
.logo img{
    width: 65px;
    height: 65px;
    margin-top: -5px;
    margin-right: 5px;
}
.logo p{
    font-size: 35px;
}
.nav-link{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.nav-link a{
    text-decoration: none;
    font-weight: bolder;
    color: #fafafa;
}
.login button{
    width: 110px;
    height: 40px;
    border-radius: 30px 70px 30px 70px;
    border: none;
}
.inicio{
    max-width: 100%;
    height: 495px;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: #BB6BD9;
}
.inicio p{
    font-size: 45px;
    color: #F2C94C;
    text-align: center;
    font-weight: bold;
    margin-right: 35px;
    text-shadow: 0.075em 0.075em 0.05em #828282;
}
.passo-a-passo {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
    justify-content: space-between;
}
.passo-a-passo p{
    width: 100%;
    font-size: 45px;
    color: #9B51E0;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.card-text {
    display: flex;
    width: 530px;
    height: 420px;
    align-items: center;
    background-color: #F2C94C;
    box-shadow: 0.4em 0.4em #F2994A;
    transform: rotate(-5deg);
    border-radius: 20% 10%;
}
.card-text p{
    font-size: 25px;
    transform: rotate(5deg); 
}