*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}

.saida{
    animation: saida 0.8s ease;
    z-index: 2;
}

.entrada{
    animation: entrada 0.7s ease;
    z-index: 2;
}


.like{
    animation: like 0.7s ease;
}

.no-like{
    animation: noLike 0.3s ease;
}


@keyframes saida {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(200%);
    }
}

@keyframes entrada {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes like{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }

}


@keyframes noLike{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-15%);
    }
    50%{
        transform: translateX(15%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#imagem-pet {
    background-image: url("/petImages/6r6.jpg");
    background-size: cover;
    background-position: center;
}