.navbar{
    position: relative;
}
.container{
    height: 88.4vh;
    position: relative;
}

.container-pet-adocao{
    width: 75%;
    height: 100%;
    position: absolute;
    background-color: #fafafa;
    right: 0;
    z-index: 2;
}

.img-pet2{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    border: 1px solid #333;
}

.img-pet2 img{
    width: 100%;
    height: 100%;
}

.desistir-btn{
    width: 100%;
    height: 30px;
    background-color: #f30035;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}


.desistir-btn a{
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
}

.container-pet-doacao{
    width: 75%;
    height: 100%;
    display: flex;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 0;
    background-color: #fafafa;
}

.ln2{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col2{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #464545;
}

.option-container{
    display: flex;
    border: 1px solid #333;
    align-items: center;
    padding: 0.2rem 0.2rem;
    border-radius: 30px;
}


.active2{
    background-color: #f30035;
    padding: 0.2rem 0.5rem;
    border-radius: 30px;
    margin-right: 5px;
    color: #fafafa;
    cursor: pointer;
}

.active{
    background-color: #f30035;
    padding: 0.2rem 0.5rem;
    border-radius: 30px;
    color: #fafafa;
    cursor: pointer;
}

.inative{
    padding: 0.2rem 0.5rem;
    border-radius: 30px;
    color: #5c5c5c;
    cursor: pointer;
}

.inative2{
    padding: 0.2rem 0.5rem;
    border-radius: 30px;
    color: #5c5c5c;
    cursor: pointer;
}


/* container pets */ 

.container-pets{
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card, .card-add{
    width: 20%;
    height: 60%;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.288);
    cursor: pointer;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
}

.container-pets::-webkit-scrollbar-track {
    background-color: transparent;
}
.container-pets::-webkit-scrollbar {
    width: 6px;
    background:transparent;
}
.container-pets::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.img-pet{
    width: 100%;
    height: 50%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.img-pet img{
    width: 100%;
    background-color: #7ea2e4;
}

.nome-pet{
    width: 100%;
    height: 15%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    color: #535353;

}

.likes-pet{
    width: 100%;
    height: 10%;
    margin-top: 10%;
    color: #333;
    font-weight: 300;
}

.match-pet{
    width: 100%;
    height: 10%;
    margin-top: 5px;
    color: #333;
    font-weight: 300;

}

.titulo-add{
    width: 100%;
    height: 60%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-add h2{
    font-weight: 200;
    font-size: 30px;
    text-align: center;
}

.add-buttom{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circulo{
    width: 80px;
    height: 80px;
    background-color: rgb(32, 109, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 1s;
}
.circulo p{
    font-weight: 200;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.884);
   
}

.circulo:hover{
    background-color: rgb(31, 184, 0);
    transition: 1s;
}

.img-container {
    background-size: cover;
    background-position: center;
}



