nav{
    background-color: #1e1b26;
}

.container{
    display: flex;
}

.dashboard{
    width: 25%;
    height: 100%;
    padding-left: 2rem;
    padding-top: 8rem;
    border-right: 9px solid #F30060;
    position: relative;
    background-color: #191620f6;
    color: #fafafa;
}

.container-perfil{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}



/* Perfil Usuario */

.perfil-desc{
    width: 90%;
    height: 200px;
    position: absolute;
    top: 7rem;
    left: 3rem;
    display: flex;
    justify-content: center;
}

.perfil-logo{
    width: 20%;
}

.perfil-logo p{
    font-size: 20px;
    font-weight: 400;
    color: #1e1b26ec;
}

.container-perfil .perfil-img{
    width: 150px;
    height: 150px;
    background-color: tomato;
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
}

.perfil-img input{
    display: none;
}

.perfil-img img{
   position: absolute;
   top: 0%;
   left: 0;
   width: 150px;
   height: 150px;
}

.perfil-img label img{
    width: 50px;
    height: 50px;
    left: 35%;
    top: 35%;
    
 }

.perfil-img label{
    position: absolute;
    top: 0%;
    left: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-color:#1e1b26e5;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}


.perfil-img label:hover{
    opacity: 1;
    transition: 1s;
}

.ln1{
    width: 50%;
    height: 150px;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}

.col1{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}


.col1 textarea{
    border-radius: 5px;
    outline: none;
    padding: 0.5rem  1rem;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #1e1b2641;
    background-color: #1e1b2603;
}

/* Formulário */ 
.container-form{
    width: 90%;
    height: 60%;
    position: absolute;
    bottom: 2px;
    left: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

form{
    width: 70%;
}

.ln{
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 10px;


}
.col{
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin: 0  5px ;

}

.col label{
    font-weight: 200;
    background-color: white;
    margin-bottom: 0;
}

.col input{
    height: 60px;
    font-size: 20px;
    padding: 0 1rem;
    outline: none;
    border: 1px solid #1e1b2669;
    border-radius: 5px;
    color: #1e1b26fa;
    font-weight: 300;
    background-color: white;
}

.col button{
    width: 120px;
    height: 40px;
    margin-top: 2%;
    background-color: transparent;
    outline: none;
    border: 1px solid #6ca6f1;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
}

.col button:hover{
    background-color: #6ca6f1;
    color: #fafafa;
    font-weight: 300;
    cursor: pointer;
}