nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    transition: 0.4s;
    background-color: #1e1b26;
    z-index: 5;  
}
.contatos{
    max-width: 100%;
    height: 87.4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 5rem;

}
.contatos a{
    text-align: center;
    line-height: 5rem;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: bold;
}
.flip-content{
    perspective: 1000px;
    width: 30%;
    height: 50%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.flipper{

    width: 100%;
    height: 95%;
    transition: transform 0.8s;
    transform-style: preserve-3d; 
    display: flex
}

.flip-content:hover .flipper{
    transform: rotateY(180deg);
}

.cartao-frente{
    width: 100%;
    height: 100%;
    background-color:#fafafa;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 0.377);
}

.cartao-frente img{
    height: 80%
}

.cartao-frente p{
    font-size: 30px;
    font-weight: 300;
    color: #B500E3;
}


.cartao-verso{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #2e2a3a;
    transform: rotateY(180deg);
    backface-visibility: hidden; 
}
.cartao-verso a{
    line-height: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fafafa;
    font-weight: 100;
    transition: 0.2s;
}

.cartao-verso a:hover{
    color: #66ff00;
    transition: 0.3s;
}

.cartao-verso p{
    font-size: 30px;
    color: #db065f;
}